<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width", initial-scale="1.0"/>
        <title>Free Hand Writing Tool</title>
    </head>
    <body>
       <header>
           <div>
               <h1>FreeHand Writing Tool</h1>
               <span>Record your voice as text</span>
           </div>
       </header>
    </body>
</html>