<%- include('partials/header')%>>
   <div>
     <h1>Convert your Words to text</h1>
       <label for="convert_text"></label><textarea name="voice" id="convert_text"></textarea>
       <button id="click_to_record">Click to Record</button>

   </div>
   <script src="js/main"></script>