
<div>
     <form action="post/createPost">
      <label for="convert_text"></label><textarea name="text" id="convert_text"></textarea>
      <button id="click_to_record">Click to Record</button><button type="submit">Save</button>
     </form>
</div>
<script src="js/main.js"></script>